.nav-big {
    height: 6rem;
    background-color: $color-tertiary;
    @media only screen and (max-width: 1025px) {
        display: none !important;
    }
}

.nav-small {
    height: 7rem;
    background-color: rgba($color-tertiary, .90);
    transition: all .5s;
    @media only screen and (min-width: 1025px) {
        display: none !important;
        align-items: flex-start !important;
    }
}

.nav-small-active {
    height: 40rem;
}

.nav {
    grid-column: full-start / full-end;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s;

    &__header {
        align-self: flex-start;
        margin: 2rem 0 0 2rem;
        white-space: nowrap;
        font-size: 2.2rem;

        @media only screen and (max-width: 900px) {
            font-size: 1.8rem;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        list-style: none;
        transition: all .5s;

        &-disabled {
            height: 0;
            overflow: hidden;
        }
    }

    &__link {
        &:visited,
        &:link {
            text-decoration: none;
            font-size: 1.6rem;
            color: $color-primary;
            text-transform: uppercase;
            font-size: 700;
            position: relative;

        }
        &-active {
            color: lighten(rgb(24, 177, 177), 5) !important;
            &::after {
                content: "\2023";
                position: absolute;
                top: -1rem;
                right: -2rem;
                font-size: 3rem;
                transform: rotate(90deg);
            }
        }
    }

    &__icon {
        color: $color-primary;
        font-size: 3rem;
        margin: 2rem;
        align-self: flex-start;
    }
}

.nav-small .nav__list {
    flex-direction: column;
}

.nav-small .nav__item {
    margin: 2rem 0;
}
