@keyframes heartbeat {
    0% {
       transform: scale(1);
       color: rgb(235, 72, 72);
    }

    50% {
       transform: scale(1.2);
       color: rgb(49, 150, 49);

    }
    100% {
        transform: scale(1);
        color: rgb(214, 63, 63);
    }
}


@keyframes heartbeatReverse {
    0% {
       transform: scale(1);
       color: rgb(49, 150, 49);
    }
    
    50% {
        color: rgb(235, 72, 72);
       transform: scale(1.2);

    }
    100% {
        transform: scale(1);
       color: rgb(49, 150, 49);
    }
}
